# Виртуальные окружения
venv/

# Файлы конфигурации IDE
.vscode/
.idea/

# Файлы с настройками Python
*.pyc
*.pyo
__pycache__/

# Файлы, содержащие секретные данные (например, env файлы)
.env
*.env

# Логи
*.log

# Другие возможные игнорируемые файлы
.DS_Store
